<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href={{ asset("favicon.ico") }} type="image/x-icon">
        <title>{% block title %}Spallian Blog - {% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ include("./_partials/_header.html.twig") }}
                {% block content %}{% endblock %}
            {{ include("./_partials/_footer.html.twig") }}
        {% endblock %}
    </body>
</html>
