{% extends "base.html.twig" %}

{% block title %}{{ parent() ~ "Articles" }}{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>
            {{ articles }}
        </h1>
        <p>
            <img src={{ asset("images/coding.gif") }}>
        </p>
    </div>
{% endblock %}